-- name: Create{{.ModuleTitle}} :one
INSERT INTO {{.TableName}} (
{{- range $i, $f := .CreateFields}}
{{- if $i}},
{{- end}}
  {{$f.Name}}
{{- end}}
) VALUES (
{{- range $i, $f := .CreateFields}}
{{- if $i}},
{{- end}}
  @{{$f.Name}}
{{- end}}
)
RETURNING *;

-- name: Get{{.ModuleTitle}}ByID :one
SELECT * FROM {{.TableName}}
WHERE id = @id
LIMIT 1;

{{- if .ScopeBy}}

-- name: List{{.ModuleTitle}}sByUserID :many
SELECT * FROM {{.TableName}}
WHERE {{.ScopeBy}} = @{{.ScopeBy}}
ORDER BY created_at DESC;
{{- else}}

-- name: List{{.ModuleTitle}}s :many
SELECT * FROM {{.TableName}}
ORDER BY created_at DESC;
{{- end}}

-- name: Update{{.ModuleTitle}} :one
UPDATE {{.TableName}}
SET
  {{.QueryUpdateSetClause}}
WHERE id = @id
RETURNING *;

-- name: Delete{{.ModuleTitle}} :exec
DELETE FROM {{.TableName}}
WHERE id = @id;
