PORT={{.Port}}
{{- if eq .DBAdapter "postgres"}}
DATABASE_URL=postgres://user:password@localhost:5432/{{.ProjectName}}?sslmode=disable
{{- else if eq .DBAdapter "mongo"}}
DATABASE_URL=mongodb://localhost:27017/{{.ProjectName}}
{{- else if eq .DBAdapter "rtdb"}}
FIREBASE_DATABASE_URL=https://{{.ProjectName}}-default-rtdb.firebaseio.com
FIREBASE_CREDENTIALS=./credentials.json
{{- end}}
